---
layout: none
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="{{ '/' | relative_url }}">
	<title>{{ page.title }} | {{ site.title }}</title>
	<link rel="stylesheet" href="/assets/css/just-the-docs-default.css">
	<link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body>
	<div class="main-content-wrap">
		<main class="main-content" id="main-content">
			{{ content }}
		</main>
	</div>
</body>
</html>